/* css重置开始 */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
li{
    list-style: none;
}
/* css重置结束 */

.wrapper{
    width: 1140px;
    height: 100%;
    /*background: #cccccc;*/
    margin: 0 auto;
}

