/* css重置开始 */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
li{
    list-style: none;
}
/* css重置结束 */

.wrapper{
    width: 1140px;
    height: 100%;
    /*background: #cccccc;*/
    margin: 0 auto;
}

/*  header开始  */
#header{
    background: url(../img/banner33.jpg) no-repeat center;
    height: 250px;
}
#login a:hover{
    text-decoration: underline;
    /*border-bottom: 1px solid #fff;*/
}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#login a{
    color: #fff;
}
#main-header #cart{
    width: 280px;
    height: 50px;
    background: #000 url(../img/cart.png) 230px center no-repeat;
    opacity: .5;/* 取值范围0~1 */
    filter: alpha(opacity=50);/* ie下  取值范围0~100 */
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
    line-height: 50px;
    float: right;
}
#cart a{
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}
#header img{
    vertical-align: middle;
}
.float{
    float: left;
}
#header h1.float{
    text-align: center;
}
#main-header{
    height: 100px;
    line-height: 100px;
    position: relative;
}
#nav li{
    width: 190px;
    height: 40px;
    background: #fa558f;
    float: left;
    text-align: center;
    line-height: 40px;
}
#nav li:hover{
    background: #3c3b3b;
}
#nav a{
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
#submenu{
    width: 1140px;
    height: 300px;
    background: #ccc;
    margin-left: -190px;
    display: none;
    position: relative;
    z-index: 1;
}
#makeup:hover #submenu{
    display: block;
}
#main-header p{
    color: #fff;
    position: absolute;
    right: 110px;
    top: 75px;
    height: 25px;
    line-height: 25px;
}
/*  header结束  */

/* footer开始 */
#footer{
    height: 82px;
    background: #fa558f;
    line-height: 82px;
}
#footer h3, #footer h4{
    color: #fff;
}
#footer h3{
    float: left;
}
#footer h4{
    float: right;
}
/* footer结束 */

