/*  header开始  */
#header{
    background: url(../img/banner.jpg) no-repeat center;
    height: 600px;
}
#login a:hover{
    text-decoration: underline;
    /*border-bottom: 1px solid #fff;*/
}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#login a{
    color: #fff;
}
#main-header #cart{
    width: 260px;
    height: 30px;
    background: #000 url(../img/cart.png) 230px center no-repeat;
    opacity: .5;/* 取值范围0~1 */
    filter: alpha(opacity=50);/* ie下  取值范围0~100 */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 25px;
    line-height: 30px;
    float: right;
}
#header img{
    vertical-align: middle;
}
#header .float{
    float: left;
}
#header h1.float{
    text-align: center;
}
#main-header{
    height: 100px;
    line-height: 100px;
    position: relative;
}
#nav li{
    width: 190px;
    height: 40px;
    background: #fa558f;
    float: left;
    text-align: center;
    line-height: 40px;
}
#nav li:hover{
    background: #3c3b3b;
}
#nav a{
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
#submenu{
    width: 1140px;
    height: 300px;
    background: #ffffff;
    margin-left: -190px;
    display: none;
}
#makeup:hover #submenu{
    display: block;
}
#main-header p{
    color: #fff;
    position: absolute;
    right: 110px;
    top: 35px;
}

/*  header结束  */

/*  new-product开始  */
#new-product{
    margin-top: 56px;
    height: 266px;
}
#new-product .sale{
    width: 360px;
    height: 210px;
    /*position: relative;
    top: 0;
    left: 0;*/
    background-repeat:  no-repeat;
    float: left;
    margin-right: 30px;
}
#new-product .bg1{
    background-image: url(../img/bg1.jpg);
}
#new-product .bg2{
    background-image: url(../img/bg2.jpg);
}
#new-product .bg3{
    background-image: url(../img/bg3.jpg);
    margin-right: 0;
}
#new-product .sale h4{
    /*position: absolute;
    right: 50px;
    bottom: 50px;*/
    margin-top: 150px;
    margin-left: 200px;
    color: #fff;
    font-size: 30px;/* 字体大小 */
}
/*  new-product结束  */

/* product开始 */
#product{
    height: 1000px;
}
.product-info{
    width: 340px;
    height: 440px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}
.product-info img{
    width: 248px;
    height: 248px;
    border: 1px solid #ccc;
}
.product-info .new{
    background: #fa558f;
    color: #fff;
    float: right;
}
.product-detail{
    margin-left: 10px;
}
.product-detail h3{
    margin-top: 10px;
}
.add{
    width: 150px;
    height: 50px;
    background: orange;
    color: #fff;
    border: 0;
    margin-top: 5px;
    font-size: 20px;
}
.product-detail input{
    width: 150px;
    height: 30px;
    text-indent: 10px;
    outline: none;
}

/* product结束 */

/* problem开始 */
#problem{
    height: 400px;
    background: url(../img/banner2.jpg) no-repeat center;
}
#problem .wrapper{
    width: 1000px;
}
.problem-menu{
    padding-left: 40px;
    float: left;
    margin-right: 40px;
    margin-top: 100px;
}
.problem-menu li{
    list-style: disc;
    color: #fff;
}
.problem-menu li a{
    color: #fff;
}
.problem-menu li a:hover{
    text-decoration: underline;
}
.menu-bold{
    font-weight: bolder;
}

/* problem结束 */

/* footer开始 */
#footer{
    height: 82px;
    background: #fa558f;
    line-height: 82px;
}
#footer h3, #footer h4{
    color: #fff;
}
#footer h3{
    float: left;
}
#footer h4{
    float: right;
}
/* footer结束 */






