#header{
    background: url(../img/banner.jpg) no-repeat center;
    height: 600px;
}

/*  new-product开始  */
#new-product{
    margin-top: 56px;
    height: 266px;
}
#new-product .sale{
    width: 360px;
    height: 210px;
    /*position: relative;
    top: 0;
    left: 0;*/
    background-repeat:  no-repeat;
    float: left;
    margin-right: 30px;
}
#new-product .bg1{
    background-image: url(../img/bg1.jpg);
}
#new-product .bg2{
    background-image: url(../img/bg2.jpg);
}
#new-product .bg3{
    background-image: url(../img/bg3.jpg);
    margin-right: 0;
}
#new-product .sale h4{
    /*position: absolute;
    right: 50px;
    bottom: 50px;*/
    margin-top: 150px;
    margin-left: 200px;
    color: #fff;
    font-size: 30px;/* 字体大小 */
}
/*  new-product结束  */

/* product开始 */
#product{
    height: 1000px;
}
.product-info{
    width: 340px;
    height: 440px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}
.product-info img{
    width: 248px;
    height: 248px;
    border: 1px solid #ccc;
    vertical-align: bottom;
}
.product-info .new{
    background: #fa558f;
    color: #fff;
    float: right;
}
.product-detail{
    background: #ccc;
    height: 180px;
    /*width: 340px;*/
    padding-left: 10px;
    padding-top: 10px;
}
.product-detail h3{
    /*margin-top: 10px;*/
}
.add{
    width: 150px;
    height: 50px;
    background: orange;
    color: #fff;
    border: 0;
    margin-top: 5px;
    font-size: 20px;
}
.product-detail input{
    width: 150px;
    height: 30px;
    text-indent: 10px;
    outline: none;
}

/* product结束 */

/* problem开始 */
#problem{
    height: 400px;
    background: url(../img/banner2.jpg) no-repeat center;
}
#problem .wrapper{
    width: 1000px;
}
.problem-menu{
    padding-left: 40px;
    float: left;
    margin-right: 40px;
    margin-top: 100px;
}
.problem-menu li{
    list-style: disc;
    color: #fff;
}
.problem-menu li a{
    color: #fff;
}
.problem-menu li a:hover{
    text-decoration: underline;
}
.menu-bold{
    font-weight: bolder;
}

/* problem结束 */







