#single{
    height: 650px;
    margin-top: 50px;
}
#single-pic{
    width: 494px;
    height: 567px;
    overflow: hidden;
    position: relative;
}
#single .wrapper{
    position: relative;
}
#single-description{
    width: 570px;
    height: 612px;
    margin-left: 30px;
}
#single-pic .big-pic{
    padding: 6px;
    border: 1px solid #ccc;
}
#single-pic .big-pic img{
    width: 480px;
    height: 400px;
}
#single-pic .small-pic{
    width: 800px;
    height: 133px;
    margin-top: 10px;
    position: relative;
}
#single-pic .small-pic img{
    width: 150px;
    height: 125px;
    border: 1px solid #ccc;
    padding: 3px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
#single-description .lip{
    color: #999;
    font-size: 12px;
}
#single-description .price{
    color: #fa558f;
    font-size: 30px;
    margin: 30px 0;
}
#single-description .num{
    width: 50px;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-indent: 10px;
    margin-left: 20px;
}
.add{
    width: 156px;
    height: 40px;
    background: #3c3b3b;
    color: #fff;
    border-color: #3C3B3B;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
}
.add:hover {
    background: #ffffff;
    color: #000;
}
#single-description .brand{
    width: 570px;
    height: 106px;
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
    line-height: 50px;
}
#single-description .brand span{
    color: #999;
}
#single-description .brand a {
    color: #ff530d;
}
#single-description .description{
    color: #999;
    font-size: 12px;
    line-height: 20px;
}
#single-description h4{
    margin: 20px 0;
}

#dependence{
    height: 424px;
}
#dependence h3{
    background: #F3F3F3;
}
#dependence .product-info{
    width: 285px;
    height: 344px;
    float: left;
}
#dependence img{
    width: 255px;
    height: 255px;
}
#dependence .product-info{
    text-align: center;
}
#dependence .btn{
    width: 110px;
    height: 34px;
}
#dependence h4{
    cursor: pointer;
}
#dependence h4:hover{
    color: #ff530d;
}
#single .arrow{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 200px;
    cursor: pointer;
}
#left{
    left: 10px;
}
#right{
    right: 10px;
}
#single-pic img.selected{
    border: 1px solid #000;
}
#magnify{
    width: 480px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    left: 500px;
    top: 0px;
    display: none;
}
#magnify img{
    position: absolute;
    top: 0;
    left: 0;
}
#drag{
    width: 200px;
    height: 200px;
    background: #cccccc;
    opacity: .6;
    filter: alpha(opacity=60);
    position: absolute;
    top: 6px;
    left: 6px;
    display: none;
}
#mask{
    width: 480px;
    height: 405px;
    background: #ff0000;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
}



















