<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        是否需要额外付费设施: <input type="checkbox" v-model="show"
                           @click="showFacility">
        <ul>
            <li v-for="obj in arr">
                {{obj.name}}({{obj.price}})
                <input type="checkbox" v-model="facility" :value="obj">
            </li>
        </ul>
        订单费用信息
        <ul>
            <li v-for="obj in facility">
                {{obj.name}}({{obj.price}})
            </li>
        </ul>
        总金额:{{total}}
    </div>
</body>
<script src="vue.js"></script>
<script>

    var vm = new Vue({
        el:'#app',
        data:{
            arr:[],
            show:false,
            facility:[{name:'群力花园豪华型',price:400}]
        },
        computed:{
          total:function(){
              var t = 0;
              this.facility.forEach(function(obj){
                 t+=obj.price;
              })
              return t;
          }
        },
        methods:{
            showFacility(){
                if(!this.show){
                    this.arr=[{name:'沙发',price:100},
                        {name:'床',price:200},
                        {name:'wifi',price:20}];
                }else{
                    this.arr = [];
                    this.facility.splice(1);
                }
            }
        }
    })


</script>
</html>