<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            color:red;
        }
    </style>
</head>
<body>

    <div id="app">
        <input type="text" v-model="msg">
        <button @click="add">add</button>
        <ul>
            <li v-for="obj in arr" @click="obj.active = !obj.active" :class="{red:obj.active}">
                {{obj.val}}
            </li>
        </ul>
    </div>
</body>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            msg:'',
            arr:[]
        },
        methods:{
            add(){
                this.arr.push({val:this.msg,active:false});
                this.msg = '';
                this.arr.sort((a,b)=>{
                    return a.val > b.val;
                });
            },
            change(obj){
                obj.active = !obj.active;
            }
        }
    })

</script>
</html>